.header {
	padding-block: 28px 20px;
}

.header_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 8px;
}

.header_navigation {
	width: 100%;

	display: flex;
	justify-content: space-between;
}

.header_navigation>div {
	display: flex;
	justify-content: space-between;
}

.favicon_link {
	display: flex;
	align-items: center;
	flex-shrink: 0;
}

.favicon_logo_mobile {
	width: 76px;
	height: 20px;
}

.favicon_logo_desktop_tablet {
	display: none;
	width: 105;
	height: 28px;
}

.favicon_logo_mobile>path:nth-of-type(1),
.favicon_logo_mobile>path:nth-of-type(3),
.favicon_logo_desktop_tablet>path:nth-of-type(1),
.favicon_logo_desktop_tablet>path:nth-of-type(3) {
	fill: #262626;
}

.favicon_logo_mobile>path:nth-of-type(2),
.favicon_logo_desktop_tablet>path:nth-of-type(2) {
	fill: #f6b83d;
}

.list {
	display: none;
	gap: 10px;
}

.burder_btn_container {
	width: 32px;
	height: 32px;
	flex-shrink: 0;
	opacity: 1;

	transition: opacity 0.3s ease;
}

.burder_btn_container.hidden {
	opacity: 0;
}

/* Applied styles in case of /home route */
.header.home_page {
	padding-block: 10px 0;
}

.header_container.home_page {
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	padding: 18px 20px;

	background: #f6b83d;
}

.header_container.home_page .favicon_logo_mobile>path:nth-of-type(1),
.header_container.home_page .favicon_logo_mobile>path:nth-of-type(3),
.header_container.home_page .favicon_logo_desktop_tablet>path:nth-of-type(1),
.header_container.home_page .favicon_logo_desktop_tablet>path:nth-of-type(3) {
	fill: #fff;
}

.header_container.home_page .favicon_logo_mobile>path:nth-of-type(2),
.header_container.home_page .favicon_logo_desktop_tablet>path:nth-of-type(2) {
	fill: #fff;
}


@media (min-width: 768px) {
	.header_container {
		gap: 16px;
	}

	.favicon_logo_mobile {
		display: none;
	}

	.favicon_logo_desktop_tablet {
		display: block;
	}

	.header {
		padding-block: 32px;
	}

	.favicon_logo {
		width: 105px;
		height: 28px;
	}

	.burder_btn_container {
		width: 36px;
		height: 36px;
	}
}

@media (min-width: 1280px) {
	.header_navigation {
		gap: 313px;
	}

	.header_navigation>div {
		width: 100%;
	}

	.list {
		display: flex;
	}

	.burder_btn_container {
		display: none;
	}
}