.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding-block: 28px 20px;
	height: 32px;

	margin-bottom: 32px;
}

.header_navigation {}

.favicon_link {}

.favicon_logo {
	width: 76px;
	height: 20px;
}

@media (min-width: 768px) {
	.header {
		height: 36px;
	}
}