.button {
	display: none;
	align-items: center;
	justify-content: center;
	gap: 10px;

	border-radius: 30px;
	width: 136px;
	height: 50px;

	background: #f6b83d;

	font-family: var(--manrope-font);
	font-weight: 700;
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: -0.03em;
	text-transform: uppercase;
	color: #fff;
}

@media (min-width: 768px) {
	.button {
		display: flex;
	}
}