.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 245px 33px;

	background: #f6b83d;
	border-radius: 60px;
}

.image_container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.image_container > p {
	font-weight: 800;
	font-size: 120px;
	line-height: 1;
	color: #fff;
}

.image {
	background: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	flex-shrink: 1;
}

.image_container + p {
	font-weight: 700;
	line-height: 1.25;
	letter-spacing: -0.03em;
	color: #fff;

	margin-bottom: 20px;
}

.link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 42px;
	border-radius: 30px;
	background: #fff4df;

	font-weight: 700;
	font-size: 14px;
	line-height: 1.28571;
	letter-spacing: -0.03em;
	text-decoration-line: none;
	color: #f6b83d;
}

@media (min-width: 768px) {
	.main {
		padding: 221px 0;
	}

	.image_container {
		gap: 0;
		margin-bottom: 40px;
	}

	.image_container > p {
		font-size: 300px;
	}

	.image {
		width: 280px;
		height: 280px;
	}

	.image_container + p {
		font-size: 24px;
		line-height: 1.16667;
	}

	.link {
		width: 162px;
		height: 48px;
		
		font-size: 16px;
		line-height: 1.25;
	}
}

@media (min-width: 1280px) {
	.main {
		padding: 109px 0;
	}
}