.heading {
	font-family: var(--manrope-font);
	font-weight: 700;
	font-size: 28px;
	line-height: 1;
	letter-spacing: -0.04em;
	color: #262626;

	margin-bottom: 12px;
}

.description {
	font-family: var(--manrope-font);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.28571;
	letter-spacing: -0.02em;
	color: #262626;
}

@media (min-width: 768px) {
	.heading {
		font-size: 54px;
		margin-bottom: 16px;
	}

	.description {
		font-size: 18px;
		line-height: 1.22222;
	}
}